@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b>@Html.ActionLink("Novices", "Novices", "Home"), Atome, @Html.ActionLink("Moustique","Moustique","Home"), @Html.ActionLink("PeeWee","PeeWee","Home"), @Html.ActionLink("Bantam-Midget","Bantam","Home")</b>
<br />
<br />
<a href="http://www.lbmba.com/fr/lbmba-horaire-resultats" >Consultez l'horaire Atome ici</a>
<br />
<b>PM Labbé</b>
<br />
<table>
    <tr>
        <td>Veilleux, Edouard
        </td>
        <td>jf.veilleux@stgeorgesgm.ca
        </td>
        <td>418-222-0933 Ent.
        </td>
    </tr>
    <tr>
        <td>Carvalho, Tristan
        </td>
        <td>aude.marceau@hotmail.com
        </td>
        <td>418-221-6338 Ent.
        </td>
    </tr>
    <tr>
        <td>Lessard, Nathan
        </td>
        <td>418-226-7448 Ent.
        </td>
    </tr>
    <tr>
        <td>Bilodeau, Raphael
        </td>
        <td>vickyrancourt@rogers.com
        </td>
    </tr>
    <tr>
        <td>Dufresne, William
        </td>
        <td>danielle.cryans@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Lavallée, Mathieu
        </td>
        <td>elavallee95@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Lavallée, Thomas
        </td>
        <td>elavallee95@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Poulin, Marianne
        </td>
        <td>bpoulin@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Veilleux, Zachary
        </td>
    </tr>
</table>
<br />
<b>Auvents Beaucerons</b>
<br />
<table>
    <tr>
        <td>Roy, Jacob
        </td>
        <td>royjerome@hotmail.com
        </td>
        <td>418-226-2987 Ent.
        </td>
    </tr>
    <tr>
        <td>Roy, Charles-David
        </td>
        <td>bteacoucouse@hotmail.com
        </td>
        <td>418-228-8663 Ent.
        </td>
    </tr>
    <tr>
        <td>Veilleux, Victoria
        </td>
        <td>julie.campagna@csbe.qc.ca
        </td>
        <td>418-221-0450 Ent.
        </td>
    </tr>
    <tr>
        <td>Drouin, William
        </td>
        <td>drouin01@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Fontaine,Marianne
        </td>
        <td>nathalie. audet270677@gmail.com
        </td>
    </tr>
    <tr>
        <td>Lepage, Pier-Olivier
        </td>
    </tr>
    <tr>
        <td>Plamondon, Isaac
        </td>
        <td>stephpou78@hotmail.com
        </td>
    </tr>
    <tr>
        <td>
        Rancourt, William
</table>
<br />
<b>Desjardins</b>
<br />
<table>
    <tr>
        <td>Tougas, Hubert
        </td>
        <td>gilbert.tougas@hotmail.com
        </td>
        <td>418-228-5881 Ent.
        </td>
    </tr>
    <tr>
        <td>Lamontagne, Nicolas
        </td>
        <td>lucie.211@hotmail.com
        </td>
        <td>418-227-5691 Ent.
        </td>
    </tr>
    <tr>
        <td>Bolduc, Simon
        </td>
        <td>talybelle@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Boulanger, Nathan
        </td>
        <td>joyce_courte@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Lessard, Mathieu
        </td>
        <td>rodrigueannick@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Mathieu-Olivier, Paquet
        </td>
        <td>paquetmario@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Thibodeau, Thomas
        </td>
        <td>thibodeau1@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Turcotte, Jakob
        </td>
        <td>jonturc@hotmail.com
        </td>
    </tr>
</table>
<br />
<b>Garage Veilleux</b>
<br />
<table>
    <tr>
        <td>Veilleux, Justin
        </td>
        <td>patveilleux77@hotmail.com
        </td>
        <td>418-222-6251 Ent.
        </td>
    </tr>
    <tr>
        <td>Boily, Justin Xavier
        </td>
        <td>steve.boily@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Champagne, Joey
        </td>
        <td>ladigaetan@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Garneau, Marc-Antoine
        </td>
        <td>
        michel_garneau@hotmail.com
    </tr>
    <tr>
        <td>Gilbert, Noa
        </td>
    </tr>
    <tr>
        <td>Lessard, Joseph
        </td>
        <td>valbureau@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Poirier, Samuel
        </td>
        <td>andrepoirier6619@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Quirion, Maxime
        </td>
        <td>julieaudet@cgocable.ca
        </td>
    </tr>
</table>
<br />
<b>Comact</b>
<br />
<table>

    <tr>
        <td>Quirion, Thomas
        </td>
        <td>quirion_ghislain27@hotmail.com
        </td>
        <td>418-221-0141 Ent.
        </td>
    </tr>
    <tr>
        <td>Giroux, Yan Philip
        </td>
        <td>bigyouyou33@hotmail.com
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>Lévesque, Nathaniel
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>Pruneau, Elyx
        </td>
        <td>cedpru@outlook.ca
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>Veilleux, Jean-Samuel
        </td>
        <td>vdestrijker@globetrotte.net
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>Brunet, Olivier
        </td>
    </tr>
    <tr>
        <td>Carrier, Félix
        </td>
        <td>France.toulouse@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Fortin, Anthony
        </td>
        <td>vlagueux@live.ca
        </td>
    </tr>
    <tr>
        <td>Lecours, Félix Antoine
        </td>
        <td>stefrodrigue@hotmail.com
        </td>
    </tr>
</table>
