@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<b>@Html.ActionLink("Novices", "Novices", "Home"),@Html.ActionLink("Atome", "Atome", "Home"),@Html.ActionLink("Moustique", "Moustique", "Home"), @Html.ActionLink("PeeWee","Peewee","Home"), Bantam-Midget</b>
<br />
<br />
<a href="http://www.lbmba.com/fr/lbmba-horaire-resultats">Consultez l'horaire Bantam Midget ici.</a>
<br />
<b>Giroux Lessard</b>
<br />
<table>
    <tr>
        <td>Boucher, Alexandre
        </td>
        <td>gmorin29@hotmail.com
        </td>
        <td>418-227-6136
        </td>
    </tr>
    <tr>
        <td>Chouinard, Nathan
        </td>
        <td>cingage@hotmail.com
        </td>
        <td>418-227-7799
        </td>
    </tr>
    <tr>
        <td>Denis, Jacob
        </td>
        <td>francky.denis44@gmail.com
        </td>
        <td>418-228-2018 3713
        </td>
    </tr>
    <tr>
        <td>Dion, Christophe
        </td>
        <td>christophefox22@hotmail.com
        </td>
        <td>418-221-1871
        </td>
    </tr>
    <tr>
        <td>Fortin, Anthony
        </td>
        <td>418-227-9166
        </td>
    </tr>
    <tr>
        <td>Jolin, Alexandre
        </td>
        <td>guylaine_belanger234@hotmail.com
        </td>
        <td>418-226-4727
        </td>
    </tr>
    <tr>
        <td>Lepage, Maxime
        </td>
        <td>418-226-4400
        </td>
    </tr>
    <tr>
        <td>Morin, Jeremy
        </td>
        <td>michel4839@cgocable.ca
        </td>
        <td>418-226-4839
        </td>
    </tr>
    <tr>
        <td>Paquet, Gabriel
        </td>
        <td>m.pierrepaquet@gmail.com
        </td>
        <td>418-227-9339
        </td>
    </tr>
    <tr>
        <td>Piché, Virginie
        </td>
        <td>jtessier@globetrotter.net
        </td>
        <td>418-227-4593
        </td>
    </tr>

    <tr>
        <td>Routhier, Simon
        </td>
        <td>418-227-3948
        </td>
    </tr>
    <tr>
        <td>Veilleux, Gabriel
        </td>
        <td>marcofiso@hotmail.com
        </td>
        <td>418-227-7543
        </td>
    </tr>
</table>

