@{
    ViewBag.Title = "Contactez-nous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <b>Contactez-nous</b><br />
<br />
Courriel : <a class="source" target="_blank" href="mailto:abmsg@hotmail.ca">abmsg@hotmail.ca</a><br />
Téléphone : (418)227-8520
