@{
    ViewBag.Title = "Add a file";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}
<script>

    $(document).ready(function () {
        $('#wait').hide();
    });

</script>
<br />
<h2>Ajouter un fichier</h2>
<br />
<br />
<br />
<button id="submit">Soumettre</button><img src="~/Images/ajax-loader.gif" id="wait" />
<button id="cancel">Annuler</button>
