@{@model Abmsg.Models.Views.HomeViewModel   
    ViewBag.Title = Model.Title;
    @section  facebookMetaTags
    {
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@Model.Title" />
        <meta property="og:image" content="http://abmsg.azurewebsites.net/images/st-georges.jpg" />
        <meta property="og:url" content="http://abmsg.azurewebsites.net/home/getnews/"@Model.Id />
    }
    <div id="list2">
        <ul>
            <li>
                <p>
                    @Html.Label(Model.Title)
                    <em>
                       @Model.Text
                    </em>
                </p>
            </li>
        </ul>
    </div>
}
