@{
    ViewBag.Title = "Association de baseball mineur de St-Georges";
}

<script src="//connect.facebook.net/en_US/all.js"></script>

<script>
    function newsItem(title, text, id) {
        return {
            Title: ko.observable(title),
            Text: ko.observable(text),
            NewsId: ko.observable(id)
        };
    }

    $(function () {
        var dataArray = [];
        $.getJSON("api/News/",
        function (news) {
            for (var i = 0; i < news.length; i++) {
                dataArray.push(new newsItem(news[i].title, news[i].text, news[i].id));
            }
            viewModel = {
                news: ko.observableArray(dataArray)

            };
            ko.applyBindings(viewModel);
        });
    });

    $(document).on("click", ".ItemDelete", function () {
        var itemToRemove = ko.dataFor(this);
        alert(itemToRemove.NewsId());
    });

    function newsUrl() {
        var news = ko.dataFor(this);
        return "http://www.abmsg.ca/home/getnews/" + news.NewsId();
    }

    ko.bindingHandlers.likeButton = {
        update: function (element, valueAccessor) {
            $(element).attr('data-href', valueAccessor());
            FB.XFBML.parse();
        }
    }

</script>

<div class="float-center">
    <div id="list2">
        <ul data-bind="foreach: news">
            <li>
                <p>
                    <em><span data-bind="text: Title"></span></em>
                    <span data-bind="text: Text"></span>
                    <span data-bind="text: NewsId"></span>
                </p>
                <div>

                    <div class="fb-like
                        data-width="The pixel width of the plugin" 
                        data-height="The pixel height of the plugin" 
                        data-colorscheme="light" 
                        data-layout="button_count" 
                        data-action="like" 
                        data-show-faces="false" 
                        data-send="true"
                        data-bind="likeButton: newsUrl ">
                    </div>
                    <a href="#" class="ItemDelete">delete</a>
                </div>
            </li>
        </ul>
    </div>
</div>