@{
    ViewBag.Title = "Association de baseball mineur de St-Georges";
}

<script src="//connect.facebook.net/en_US/all.js"></script>

<script>
    function newsItem(title, text, id) {
        return {
            Title: ko.observable(title),
            Text: ko.observable(text),
            NewsId: ko.observable(id)
        };
    }

    $(function getNews() {
        var dataArray = [];
        $.getJSON("api/News/",
        function (news) {
            for (var i = 0; i < news.length; i++) {
                dataArray.push(new newsItem(news[i].title, news[i].text, news[i].id));
            }
            viewModel = {
                news: ko.observableArray(dataArray)
            };
            ko.applyBindings(viewModel);
        });
    });


    $(function () {
        getNews();
    });

    $(document).on("click", ".ItemDelete", function () {
        var itemToRemove = ko.dataFor(this);
        $.ajax({
            url: "/api/News?id=" + itemToRemove.NewsId(),
            type: "DELETE",
            success: function () {
                viewModel.news.remove(itemToRemove);
            }
        });
    });

    $(document).on("click", ".ItemEdit", function () {
        var selectedItem = ko.dataFor(this);
        open('/home/newsedit/' + selectedItem.NewsId(), '_self');
    });

    function newsUrl() {
        var news = ko.dataFor(this);
        return "http://www.abmsg.ca/home/getnews/" + news.NewsId();
    }

    ko.bindingHandlers.likeButton = {
        update: function (element, valueAccessor) {
            $(element).attr('data-href', valueAccessor());
            FB.XFBML.parse();
        }
    }

   function addNews() {
        open('/home/newsadd/', '_self');
    };

</script>

<div class="float-center">
    <div id="list2">
        <ul data-bind="foreach: news">
            <li>
                <p>
                    <em><span data-bind="text: Title"></span></em>
                    <span data-bind="text: Text"></span>
                </p>
                <div>
                    <div class="fb-like"
                        data-width="200"
                        data-height="10"
                        data-colorscheme="light"
                        data-layout="button" 
                        data-action="like"
                        data-show-faces="false"
                        data-send="true"
                        data-bind="likeButton: newsUrl ">
                    </div>
                    @if (ViewBag.IsAuthenticated)
                    {
                        <a href="#" class="ItemDelete">delete</a>
                        <a href="#" class="ItemEdit">edit</a>   
                    }
                </div>
            </li>
        </ul>
    </div>

</div>
@if (ViewBag.IsAuthenticated)
{
    <input type ="button" id="addNews" value="Ajouter" onClick="javascript: addNews()"  />
}
