@{
    ViewBag.Title = "Initiation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Initiation</h2>

Vincent Vachon sera moniteur pour initier les jeunes au Baseball. Cette initiation sera basée sur le programme Rally Cap.<br />
<br />
<a href="http://www.baseball.ca/frn_doc.cfm?DocID=212&Related=13"><img src ="/Images/rallycap.png" /></a>