@{
    ViewBag.Title = "Initiation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
style='font-size:10.0pt;line-height:115%;mso-ansi-language:FR-CA'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
style='font-size:16.0pt;line-height:115%;mso-ansi-language:FR-CA'>Petit Terrain
Deux-Rives (Haut) -<span style='mso-spacerun:yes'>  </span>Lundi soir 18h20<o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
style='font-size:16.0pt;line-height:115%;mso-ansi-language:FR-CA'>Moniteurs: Vincent
Vachon et Christophe Lachance-Tardif<o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=FR-CA
style='font-size:12.0pt;line-height:115%;mso-ansi-language:FR-CA'><o:p>&nbsp;</o:p></span></p>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=567
 style='width:15.0cm;margin-left:47.95pt;border-collapse:collapse;border:none;
 mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:background1;
 mso-border-themeshade:166;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
 mso-border-insideh:.5pt solid #A6A6A6;mso-border-insideh-themecolor:background1;
 mso-border-insideh-themeshade:166;mso-border-insidev:.5pt solid #A6A6A6;
 mso-border-insidev-themecolor:background1;mso-border-insidev-themeshade:166'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:17.1pt'>
  <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;mso-border-alt:
  solid #A6A6A6 .5pt;mso-border-themecolor:background1;mso-border-themeshade:
  166;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>19 <span
  class=SpellE>mai</span> *<o:p></o:p></span></p>
  </td>
  <td width=293 valign=top style='width:219.7pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;border-left:none;
  mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>7 <span
  class=SpellE>juillet</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:17.1pt'>
  <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;border-top:none;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>26 <span
  class=SpellE>mai</span><o:p></o:p></span></p>
  </td>
  <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:166;border-right:solid #A6A6A6 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:166;mso-border-top-alt:solid #A6A6A6 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:166;
  mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>14 <span
  class=SpellE>juillet</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:17.1pt'>
  <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;border-top:none;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>2 <span
  class=SpellE>juin</span><o:p></o:p></span></p>
  </td>
  <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:166;border-right:solid #A6A6A6 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:166;mso-border-top-alt:solid #A6A6A6 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:166;
  mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>21 <span
  class=SpellE>juillet</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;height:17.1pt'>
  <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;border-top:none;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>9 <span
  class=SpellE>juin</span><o:p></o:p></span></p>
  </td>
  <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:166;border-right:solid #A6A6A6 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:166;mso-border-top-alt:solid #A6A6A6 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:166;
  mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>28 <span
  class=SpellE>juillet</span></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4;height:17.1pt'>
  <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;border-top:none;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>16 <span
  class=SpellE>juin</span><o:p></o:p></span></p>
  </td>
  <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:166;border-right:solid #A6A6A6 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:166;mso-border-top-alt:solid #A6A6A6 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:166;
  mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>4 <span
  class=SpellE>août</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5;height:17.1pt'>
  <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;border-top:none;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>23 <span
  class=SpellE>juin</span><o:p></o:p></span></p>
  </td>
  <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:166;border-right:solid #A6A6A6 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:166;mso-border-top-alt:solid #A6A6A6 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:166;
  mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>11 <span
  class=SpellE>août</span></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6;mso-yfti-lastrow:yes;height:17.1pt'>
  <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:166;border-top:none;
  mso-border-top-alt:solid #A6A6A6 .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:14.0pt'>30 <span
  class=SpellE>juin</span></span></p>
  </td>
  <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:166;border-right:solid #A6A6A6 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:166;mso-border-top-alt:solid #A6A6A6 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:166;
  mso-border-left-alt:solid #A6A6A6 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:166;mso-border-alt:solid #A6A6A6 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:166;padding:0cm 5.4pt 0cm 5.4pt;height:
  17.1pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span lang=FR-CA style='font-size:14.0pt;
  mso-ansi-language:FR-CA'>Partie Dim. 17 août *</span><span lang=FR-CA
  style='mso-ansi-language:FR-CA'><o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span lang=FR-CA
style='mso-ansi-language:FR-CA'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=FR-CA
style='font-size:12.0pt;line-height:115%;mso-ansi-language:FR-CA'>* Pour la 1ère
semaine (19 mai): SVP arriver au terrain à <b style='mso-bidi-font-weight:normal'>18h00</b>.
Courte réunion de parents pour la distribution des chandails et vous fournir
plus de détails sur le fonctionnement de la saison. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=FR-CA
style='font-size:12.0pt;line-height:115%;mso-ansi-language:FR-CA'>* Lors de
notre tournoi de fin de saison et pour terminer la saison en beauté, il y aura
une partie avec les règlements Novice (6 x 6) le dimanche après-midi 17 août
(heure à venir).<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=FR-CA
style='font-size:12.0pt;line-height:115%;mso-ansi-language:FR-CA'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt;mso-list:l0 level1 lfo3'><![if !supportLists]><span
lang=FR-CA style='font-size:12.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
FR-CA'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=FR-CA style='font-size:12.0pt;
line-height:115%;mso-ansi-language:FR-CA'>Un gant est obligatoire et les
souliers à crampons sont suggérés.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l2 level1 lfo2'><![if !supportLists]><span
lang=FR-CA style='font-size:12.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
FR-CA'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=FR-CA style='font-size:12.0pt;
line-height:115%;mso-ansi-language:FR-CA'>La participation d’un parent est
importante. Nous vous suggérons d’apporter aussi votre gant.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l2 level1 lfo2'><![if !supportLists]><span
lang=FR-CA style='font-size:12.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;mso-ansi-language:
FR-CA'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=FR-CA style='font-size:12.0pt;
line-height:115%;mso-ansi-language:FR-CA'>En cas de température incertaine, à
17h30, consultez le site web ou la boîte vocale.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle><span lang=FR-CA style='mso-ansi-language:
FR-CA'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpLast><span lang=FR-CA style='mso-ansi-language:
FR-CA'><o:p>&nbsp;</o:p></span></p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='margin-left:12.5pt;border-collapse:collapse;border:none;mso-yfti-tbllook:
 1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:none;mso-border-insidev:
 none'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=526 valign=top style='width:394.6pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><b style='mso-bidi-font-weight:normal'><span
  lang=FR-CA style='font-size:20.0pt;font-family:Jokerman;mso-ansi-language:
  FR-CA'>Apprendre le baseball dans un environnement le fun et sécuritaire !...</span></b><span
  lang=FR-CA style='font-size:20.0pt;mso-ansi-language:FR-CA'><o:p></o:p></span></p>
  <p class=MsoListParagraphCxSpFirst style='margin:0cm;margin-bottom:.0001pt;
  mso-add-space:auto;line-height:normal'><span lang=FR-CA style='mso-ansi-language:
  FR-CA'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=135 valign=top style='width:101.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoListParagraphCxSpLast style='margin:0cm;margin-bottom:.0001pt;
  mso-add-space:auto;line-height:normal'><span style='mso-fareast-language:
  EN-CA;mso-no-proof:yes'><!--[if gte vml 1]><v:shape id="Picture_x0020_4"
   o:spid="_x0000_i1025" type="#_x0000_t75" alt="j0279684" style='width:90.75pt;
   height:87pt;visibility:visible;mso-wrap-style:square'>
   <v:imagedata src="Horaire%20Initiation%20Baseball%202014_fichiers/image003.wmz"
    o:title="j0279684"/>
  </v:shape><![endif]--><![if !vml]><img border=0 width=121 height=116
  src="/images/initiation/initiation.png"
  alt=j0279684 v:shapes="Picture_x0020_4"><![endif]></span><span lang=FR-CA
  style='mso-ansi-language:FR-CA'><o:p></o:p></span></p>
  </td>
 </tr>
</table>

