@{
    ViewBag.Title = "Initiation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=WordSection1>

    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
           style='border-collapse:collapse;border:none'>
        <tr style='height:63.3pt'>
            <td width=140 valign=top style='width:104.65pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:63.3pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <span style='font-size:20.0pt'>
                       
                    </span>
                </p>
              
            </td>
            <td width=501 valign=top style='width:375.65pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:63.3pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <b>
                        <span lang=FR-CA style='font-size:
  22.0pt;font-family:Jokerman'><u>Horaire Initiation Baseball 2015</u></span>
                    </b>
                </p>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span lang=FR-CA>&nbsp;</span></p>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <b><span lang=FR-CA>     </span></b><a href="http://www.abmsg.ca"><b><span lang=FR-CA style='text-decoration:none'>www.abmsg.ca</span></b></a><b>
                        <span lang=FR-CA>,</span>
                    </b><a href="mailto:abmsg@hotmail.ca">
                        <b>
                            <span lang=FR-CA style='text-decoration:none'>abmsg@hotmail.ca</span>
                        </b>
                    </a><b>
                        <span lang=FR-CA>,   Téléphone : (418)227-8520</span>
                    </b>
                </p>
            </td>
            <td width=46 valign=top style='width:34.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:63.3pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <b>
                        <u>
                            <span lang=FR-CA
                                  style='font-size:26.0pt'><span style='text-decoration:none'>&nbsp;</span></span>
                        </u>
                    </b>
                </p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal align=center style='text-align:center'>
        <span lang=FR-CA
              style='font-size:10.0pt;line-height:115%'>&nbsp;</span>
    </p>

    <p class=MsoNormal align=center style='text-align:center'>
        <span lang=FR-CA
              style='font-size:16.0pt;line-height:115%'>
            Petit Terrain Deux-Rives (Haut) -  Lundi
            soir 18h15
        </span>
    </p>

    <p class=MsoNormal align=center style='text-align:center'>
        <span lang=FR-CA
              style='font-size:16.0pt;line-height:115%'>
            Moniteurs: Vincent Vachon et
            Christophe Lachance-Tardif
        </span>
    </p>

    <p class=MsoNormal align=center style='text-align:center'>
        <span lang=FR-CA
              style='font-size:8.0pt;line-height:115%'>&nbsp;</span>
    </p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=567
           style='width:15.0cm;margin-left:47.95pt;border-collapse:collapse;border:none'>
        <tr style='height:17.1pt'>
            <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>18 mai *</span></p>
            </td>
            <td width=293 valign=top style='width:219.7pt;border:solid #A6A6A6 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <span style='font-size:16.0pt'>
                        6
                        juillet
                    </span>
                </p>
            </td>
        </tr>
        <tr style='height:17.1pt'>
            <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>25 mai</span></p>
            </td>
            <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <span style='font-size:16.0pt'>
                        13
                        juillet
                    </span>
                </p>
            </td>
        </tr>
        <tr style='height:17.1pt'>
            <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>1 juin</span></p>
            </td>
            <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <span style='font-size:16.0pt'>
                        20
                        juillet
                    </span>
                </p>
            </td>
        </tr>
        <tr style='height:17.1pt'>
            <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>8 juin</span></p>
            </td>
            <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <span style='font-size:16.0pt'>
                        Congé -
                        27 juillet
                    </span>
                </p>
            </td>
        </tr>
        <tr style='height:17.1pt'>
            <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>15 juin</span></p>
            </td>
            <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>3 août</span></p>
            </td>
        </tr>
        <tr style='height:17.1pt'>
            <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>24 juin</span></p>
            </td>
            <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>10 août</span></p>
            </td>
        </tr>
        <tr style='height:17.1pt'>
            <td width=274 valign=top style='width:205.55pt;border:solid #A6A6A6 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:16.0pt'>29 juin</span></p>
            </td>
            <td width=293 valign=top style='width:219.7pt;border-top:none;border-left:
  none;border-bottom:solid #A6A6A6 1.0pt;border-right:solid #A6A6A6 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.1pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <span lang=FR-CA style='font-size:16.0pt'>
                        Partie
                        Dim. 16 août *
                    </span>
                </p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal style='text-align:justify'><span lang=FR-CA>&nbsp;</span></p>

    <p class=MsoNormal style='text-align:justify'>
        <span lang=FR-CA
              style='font-size:12.0pt;line-height:115%'>
            * Pour la 1ère semaine (18 mai): SVP
            arriver au terrain à <b>18h00</b>. Courte réunion de parents pour la
            distribution des chandails et vous fournir plus de détails sur le
            fonctionnement de la saison.
        </span>
    </p>

    <p class=MsoNormal style='text-align:justify'>
        <span lang=FR-CA
              style='font-size:12.0pt;line-height:115%'>
            * Lors de notre tournoi de fin de
            saison et pour terminer la saison en beauté, il y aura une partie avec les
            règlements Novice (6 x 6) le dimanche 16 août (heure à venir).
        </span>
    </p>

    <p class=MsoNormal style='text-align:justify'>
        <span lang=FR-CA
              style='font-size:12.0pt;line-height:115%'>&nbsp;</span>
    </p>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
        <span lang=FR-CA style='font-size:12.0pt;line-height:115%;font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=FR-CA style='font-size:12.0pt;line-height:115%'>
            Un
            gant est obligatoire et les souliers à crampons sont suggérés.
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
        <span lang=FR-CA style='font-size:12.0pt;line-height:115%;font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=FR-CA style='font-size:12.0pt;line-height:115%'>
            La
            participation d’un parent est importante. Nous vous suggérons d’apporter aussi
            votre gant.
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
        <span lang=FR-CA style='font-size:12.0pt;line-height:115%;font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span lang=FR-CA style='font-size:12.0pt;line-height:115%'>
            En cas
            de température incertaine, à 17h30, consultez le site web ou la boîte vocale.
        </span>
    </p>

    <p class=MsoListParagraphCxSpMiddle>
        <span lang=FR-CA style='font-size:8.0pt;
line-height:115%'>&nbsp;</span>
    </p>

    <p class=MsoListParagraphCxSpLast>
        <span lang=FR-CA style='font-size:8.0pt;
line-height:115%'>&nbsp;</span>
    </p>

    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
           style='margin-left:12.5pt;border-collapse:collapse;border:none'>
        <tr>
            <td width=161 valign=top style='width:120.5pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span lang=FR-CA style='font-size:10.0pt'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span lang=FR-CA style='font-size:10.0pt'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal'>
                    <span style='font-size:20.0pt'>
                        <img border=0 width=117 height=52 id="Image 2"
                             src="/Images/Commanditaire/bgp.png">
                    </span>
                </p>
            </td>
            <td width=365 valign=top style='width:274.1pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraphCxSpFirst align=center style='margin:0cm;margin-bottom:
  .0001pt;text-align:center;line-height:normal'>
                    <b>
                        <span lang=FR-CA
                              style='font-size:20.0pt;font-family:Jokerman'>
                            Apprendre le baseball dans un
                            environnement le fun et sécuritaire !...
                        </span>
                    </b>
                </p>
            </td>
            <td width=135 valign=top style='width:101.55pt;padding:0cm 5.4pt 0cm 5.4pt'>
                <p class=MsoListParagraphCxSpLast style='margin:0cm;margin-bottom:.0001pt; line-height:normal'>

                    <img border=0 width=121 height=116 id="Picture 4" src= "/Images/Initiation/initiation.png">
                    



                </p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal><span lang=FR-CA>&nbsp;</span></p>

</div>
