@{
    ViewBag.Title = "Liens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b>Résultats : </b><a href="http://www.lbmba.com/">Ligue de Baseball mineur Beauce-Appalaches</a>
<br /><br />
<a href="http://www.baseballquebec.com">Baseball Québec</a>
