@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<b>@Html.ActionLink("Novices", "Novices", "Home"),@Html.ActionLink("Atome", "Atome", "Home"), Moustique, @Html.ActionLink("PeeWee", "PeeWee", "Home"), @Html.ActionLink("Bantam-Midget","Bantam","home")</b>
<br />
<br />
<a href="http://www.lbmba.com/fr/lbmba-horaire-resultats" >Consultez l'horaire Moustique ici.</a>
<br />
<b>Canac</b>
<br />
<table>
    <tr>
        <td>Dulac, Bastien
        </td>
        <td>j.dulac@grondair.qc.ca
        </td>
        <td>418-227-4707 Ent.
        </td>
    </tr>
    <tr>
        <td>Poulin, William
        </td>
        <td>ppierre@cgocable.ca
        </td>
        <td>418-228-9821 Ent. 
        </td>
    </tr>
    <tr>
        <td>Veilleux, Sheldon
        </td>
        <td>jimmy@jimmyveilleux.com
        </td>
        <td>418-222-5000 Ent.
        </td>
    </tr>
    <tr>
        <td>Busque-Bégin, Jean-Philippe
        </td>
        <td>sylviebusque@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Faucher, Raphael
        </td>
        <td>dannieetfilles@globetrotter.net
        </td>
    </tr>
    <tr>
        <td>Fontaine, Nathan
        </td>
        <td>5050dem22@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Houle, Tristan
        </td>
        <td>assablage@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Lacasse, Philippe
        </td>
        <td>davidlacasse@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Lessard, Samy
        </td>
        <td>didipaq@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Poulin, Philip
        </td>
        <td>fr-giguere@yahoo.ca
        </td>
    </tr>
</table>
<br />
<b>Ultra Medic</b>
<br />
<table>
    <tr>
        <td>Tougas, Guillaume
        </td>
        <td>
        gilbert.tougas@hotmail.com
            </td>
        <td>418-228-5881 Ent.
        </td>
    </tr>
    <tr>
        <td>Dessaint, Chloé
        </td>
        <td>nlagueux@cegepba.qc.ca
        </td>
        <td>418-222-6600 Ent.
        </td>
    </tr>
    <tr>
        <td>Lessard, Zachary
        </td>
        <td>ricklessard77@hotmail.com
        </td>
        <td>418-222-5788 Ent.
        </td>
    </tr>
    <tr>
        <td>Chouinard, Tristan
        </td>
        <td>cingage@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Fortin, Samuel
        </td>
        <td>maxfor@live.ca
        </td>
    </tr>
    <tr>
        <td>Grondin, William
        </td>
        <td>g.lehoullier@outlook.com
        </td>
    </tr>
    <tr>
        <td>Pomerleau, William
        </td>
        <td>caropom@live.ca
        </td>
    </tr>
    <tr>
        <td>Poulin, Cassandra
        </td>
        <td>nath-eric@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Poulin, Xavier
        </td>
        <td>
        nathsteph2010@hotmail.com
    </tr>
</table>

