@{
    ViewBag.Title = "GetNews";
}

<script>

    $(document).ready(function () {
        $('#wait').hide();
    });

    $(function () {
        $("input[type=submit], a, button")
        .button()
        .click(function (event) {
            $.ajax({
                type: 'POST',
                beforeSend: function () {
                    $('#wait').show();
                    $('#submit').hide();
                },
                url: '/api/news',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ title: $('#newsTitle').val(), content: $('#newsContent').val() }),
                success: function (data) {
                    $('#wait').hide();
                    $('#submit').show();
                }
            });
        });
    });
</script>

<h2>Modifier une nouvelle</h2>

@{@model Abmsg.Models.Views.HomeViewModel   
    <div id="list2">
        <ul>
            <li>
                <p>
                    @Html.EditorFor(x=>Model.Title)
                    <em>
                        @Html.TextAreaFor(y=>Model.Text)
                    </em>
                </p>
            </li>
        </ul>
    </div>
}
<br />
<br />
<button id="submit">Soumettre</button><img src="~/Images/ajax-loader.gif" id="wait" />
