@{
    ViewBag.Title = "GetNews";
}

<script>

    $(document).ready(function () {
        $('#wait').hide();
        $('#submit')
        .click(function (event) {
            $.ajax({
                type: 'POST',
                beforeSend: function () {
                    $('#wait').show();
                    $('#submit').hide();
                },
                url: '/api/news',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ title: $('#Title').val(), content: $('#Text').val(), id: $('#Id').val() }),
                success: function (data) {
                    $('#wait').hide();
                    $('#submit').show();
                    open('/', '_self');
                }
            });
        });
        $('#cancel')
        .click(function (event) {
            open('/', '_self');
        });
    });

</script>

<h2>Modifier une nouvelle</h2>

@{@model Abmsg.Models.Views.HomeViewModel   
    <div id="list2">
        <ul>
            <li>
                <p>
                    @Html.HiddenFor(x => Model.Id)
                    @Html.EditorFor(x => Model.Title)
                    <em>
                        @Html.TextAreaFor(y => Model.Text)
                    </em>
                </p>
            </li>
        </ul>
    </div>
}
<br />
<br />
<button id="submit">Soumettre</button><img src="~/Images/ajax-loader.gif" id="wait" />
<button id="cancel">Annuler</button>
