@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b>Novices, @Html.ActionLink("Atome","Atome","Home"), @Html.ActionLink("Moustique","Moustique","Home"), @Html.ActionLink("PeeWee","PeeWee","Home"), @Html.ActionLink("Bantam-Midget","Bantam","Home")</b>
<br />
<br />
<a href="http://www.lbmba.com/fr/lbmba-horaire-resultats">Consultez l'horaire Novice ici.</a>
<br />
<b>Pro André Lessard</b>
<br />
<table>
    <tr>
        <td>Breton, Emile
        </td>
        <td>frederic.breton@svrete.qc.ca
        </td>
        <td>418-222-6356 Ent.
        </td>

        <tr>
            <td>Bilodeau, Jacob </td>
            <td>vickyrancourt@rogers.com
            </td>
        </tr>
    <tr>
        <td>Brazeau,William
        </td>
        <td>caro_linedesind@hotmail.com
        </td>
    </tr>

    <tr>
        <td>Côté, Jérome</td>
        <td>alaicot@yahoo.com</td>
    </tr>

    <tr>
        <td>Doyon,Louis-Pierre
        </td>
        <td>genevievebusque@hotmail.com
        </td>
    </tr>

    <tr>
        <td>Pouliot,Benoit</td>
        <td>maxime.pouliot@abenakis.com
        </td>
    </tr>

    <tr>
        <td>Pouliot, Émile</td>
        <td>maxime.pouliot@abenakis.com
        </td>
    </tr>

    <tr>
        <td>Thérrien,Alexandre
        </td>
        <td>louise.fred@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Thérrien,Coralie
        </td>
        <td>louise.fred@cgocable.ca
        </td>
    </tr>
</table>
<br />
<b>Brunet</b>
<br />
<table>
    <tr>
        <td>Veilleux, Nathan
        </td>
        <td>gerry.veilleux@bgphonda.com
        </td>
        <td>418-222-0118 Ent.
        </td>
    </tr>
    <tr>
        <td>Veilleux, Nicholas
        </td>
        <td>vdestrijker@globetrotte.net
        </td>
        <td>418-226-0918 Ent.
        </td>
    </tr>
    <tr>
        <td>Fortin,Jacob
        </td>
        <td>vlagueux@live.ca
        </td>
    </tr>
    <tr>
        <td>Gagnon,Charles-Éric
        </td>
        <td>dany.gag@globetrotter.net
        </td>
    </tr>
    <tr>
        <td>Levesque, Eloi
        </td>
        <td>yolevesque@hotmail.ca
        </td>
    </tr>
    <tr>
        <td>Parent,Melody
        </td>
        <td>bernard_parent@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Parent, Tanya
        </td>
        <td>bernard_parent@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Plante, Charles-Etienne
        </td>
        <td>marvince12@cgocable.ca
        </td>
    </tr>
</table>
<br />
<b>Canac</b>
<br />
<table>
    <tr>
        <td>Gobeil, Simon
        </td>
        <td>martingob@cgocable.ca
        </td>
        <td>418-221-6691 Ent.
        </td>
    </tr>
    <tr>
        <td>Bégin, Éli
        </td>
        <td>francois@fbeginauto.com
        </td>
    </tr>
    <tr>
        <td>Boily,Shawn-Alexandre
        </td>
        <td>steve.boily@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Dumas, Mathis
        </td>
        <td>bas23bas23@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Lavallée, Charles
        </td>
        <td>elavallee95@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Morin, Alex
        </td>
        <td>steeve.nathalie@hotmail.fr
        </td>
    </tr>
    <tr>
        <td>Rosado, Manuel
        </td>
        <td>isabelle.morin@csbe.qc.ca
        </td>
    </tr>
    <tr>
        <td>Rouillard, Eloi
        </td>
        <td>maude.caron@promutuel.com
        </td>
    </tr>
</table>
<br />
<b>Toyota</b>
<br />
<table>
    <tr>
        <td>Grondin,Chloé
        </td>
        <td></td>
        <td>418-228-4243 Ent.
        </td>
    </tr>
    <tr>
        <td>Veilleux, Eliane
        </td>
        <td>berveil@cgocable.ca
        </td>
        <td>418-222-5653 Ent.
        </td>
    </tr>
    <td>Bolduc,Clovis
    </td>
    <td>bolducfr@gmail.com
    </td>
    <tr>
        <td>Doyon, Olivier
        </td>
        <td>doyoncharles@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Jing, Léo
        </td>
        <td>djjintao@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Paris, Edouard
        </td>
        <td>olivierparis80@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Poulin, Alexis
        </td>
        <td>bpoulin@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Poulin, Louis-Philippe
        </td>
        <td></td>
    </tr>
</table>
