@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<b>@Html.ActionLink("Novices", "Novices", "Home"),@Html.ActionLink("Atome", "Atome", "Home"),@Html.ActionLink("Moustique", "Moustique", "Home"), PeeWee, @Html.ActionLink("Bantam-Midget","Bantam","Home")</b>
<br />
<br />
<a href="http://www.lbmba.com/fr/lbmba-horaire-resultats" >Consultez l'horaire Pee Wee ici.</a>
<br />
<b>Lions bleu</b>
<br />
<table>
    <tr>
        <td>Maheu, Cédric
        </td>
        <td>claudia.gilbert@cgocable.ca
        </td>
        <td>418-228-2312 Ent.
        </td>
    </tr>
    <tr>
        <td>Gauthier, Jean-Pascal
        </td>
        <td>gauthier-pascal@outlook.com 
        </td>
        <td>
        418-221-6174 Ent.
    </tr>
    <tr>
        <td>Veilleux, Benjamin
        </td>
        <td>vdestrijker@globetrotte.net
        </td>
        <td>418-226-0918 Ent.
        </td>
    </tr>
    <tr>
        <td>Boucher, William
        </td>
        <td>duchesnepage@cgocable.ca
        </td>
    </tr>
    <tr>
        <td>Brassard, Alexis
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>Gilbert, Nicholas
        </td>
        <td>carlgilbert@globetrotter.net
        </td>
    </tr>
    <td>Grondin, Gabriel
    </td>
    <td>vincentg@licoinc.net
    </td>
    <tr>
        <td>Lessard, Zachary
        </td>
        <td>valbureau@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Loubier, Sébastien
        </td>
        <td>jeanne-5@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Morin, Jean-Gabriel
        </td>
        <td>j.g.m@hotmail.ca
        </td>
    </tr>
    <tr>
        <td>Roy, Justin
        </td>
        <td>jim.roy@live.ca
        </td>
    </tr>
</table>
<br />
<b>Braves</b>
<br />
<table>

    <tr>
        <td>Larochelle, Thomas
        </td>
        <td>marc.larochelle@groupecanam.com
        </td>
        <td>418-226-3931 Ent.
        </td>
    </tr>
    <tr>
        <td>Poulin, Jean-Frédéric
        </td>
        <td>poulini@yahoo.ca
        </td>
        <td>418-222-7374 Ent. 
        </td>
    </tr>
    <tr>
        <td>Talbot, Vincent
        </td>
        <td>talbot.eric@gmail.com
        </td>
        <td>418-226-4245 Ent. 
        </td>
    </tr>
    <tr>
        <td>Grégoire, Louis-Philippe
        </td>
        <td>frederic.gregoire@globetrotter.net
        </td>
    </tr>
    <tr>
        <td>Grondin, William
        </td>
    </tr>
    <tr>
        <td>Lessard, Anthony
        </td>
        <td>didipaq@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Lessard, Antoine
        </td>
        <td>didipaq@hotmail.com
        </td>
    </tr>
    <tr>
        <td>Piché, Thomas
        </td>
        <td>jtessier@globetrotter.net
        </td>
    </tr>
    <tr>
        <td>Poulin, Dominick
        </td>
        <td>
        cocotte1826@hotmail.com
    </tr>
    <tr>
        <td>Rancourt, Samuel
        </td>
        <td>julierodrigue29@globetrotter.net
        </td>
    </tr>
    <tr>
        <td>Rouillard, Philippe
        </td>
        <td>airrou@live.ca
        </td>
    </tr>
</table>

