@{
    ViewBag.Title = "Responsables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Responsables</h2>

<img src="~/Images/Responsables/none.png" />Gilbert Tougas, Président, 418-555-5555, email@email.com<br />
<img src="~/Images/Responsables/none.png" />François Métivier, Président, 418-555-5555, email@email.com <br />
<img src="~/Images/Responsables/none.png" />Koralie Potvin, Responsable des marqueurs<br />
<img src="~/Images/Responsables/none.png" />Marc Larochelle, Responsable Peewee<br />
<img src="~/Images/Responsables/none.png" />Patrick Veilleux, <img src="~/Images/Responsables/none.png" />Ghislain Quirion, Responsables Atome<br />
<img src="~/Images/Responsables/none.png" />Bruno Gilbert, Responsable Bantam Midget<br />
<br />