@{
    ViewBag.Title = "Responsables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="width:100%">
    <tr>
        <td class="centered">
            <img src="~/Images/Responsables/none.png" />
            <br /><b>Marc Larochelle</b><br /> Président<br /> 
            <a class="source" target="_blank" href="mailto:marc.larochelle@canamgroup.ws">marc.larochelle@canamgroup.ws</a>
        </td>
        <td class="centered">
            <img src="~/Images/Responsables/gilbert.png" />
            <br /><b>Gilbert Tougas</b><br /> Vice-président<br />
            <a class="source" target="_blank" href="mailto:gilbert.tougas@hotmail.com">gilbert.tougas@hotmail.com</a>
        </td>
    </tr>
    <tr><td><br /></td></tr>
    <tr>
        <td class="centered">
            <img src="~/Images/Responsables/Christophe.png" />
            <br /><b>Christophe Lachance-Tardif</b><br />Coordonnateur<br /> (418)227-8520<br />
            <a class="source" target="_blank" href="mailto:christo8527@yahoo.com">christo8527@yahoo.com</a>
        </td>
        <td class="centered">
            <img src="~/Images/Responsables/erictalbot.png" />
            <br /><b>Eric Talbot</b><br />Responsable Peewee, secrétaire<br />
            <a class="source" target="_blank" href="mailto:talbot.eric@gmail.com">talbot.eric@gmail.com</a>
        </td>
    </tr>
    <tr><td><br /></td></tr>
    <tr>
        <td class="centered">
            <img src="~/Images/Responsables/Jimmy.png" />
            <br /><b>Jimmy Veilleux</b><br />Trésorier<br />
            <a class="source" target="_blank" href="mailto:jimmy@jimmyveilleux.com">jimmy@jimmyveilleux.com</a>
        </td>
        <td class="centered">
            <img src="~/Images/Responsables/Patrick.png" />
            <br /><b>Patrick Veilleux</b><br /> Responsable Moustique<br />
            <a class="source" target="_blank" href="mailto:patveilleux77@hotmail.com">patveilleux77@hotmail.com</a>
        </td>
    </tr>
    <tr><td><br /></td></tr>
    <tr>
        <td class="centered">
            <img src="~/Images/Responsables/none.png" />
            <br /><b>Ghislain Quirion</b><br /> Responsable Moustique<br /> 
            <a class="source" target="_blank" href="mailto:quirion_ghislain27@hotmail.com">quirion_ghislain27@hotmail.com</a>
        </td>
        <td class="centered">
            <img src="~/Images/Responsables/none.png" />
            <br /><b>Bruno Gilbert</b><br />
            Responsable Bantam Midget<br /> 
            <a class="source" target="_blank" href="mailto:bruno.gilbert@groupecanam.com">bruno.gilbert@groupecanam.com</a>
        </td>
    </tr>
    <tr><td><br /></td></tr>
    <tr>
        <td class="centered">
            <img src="~/Images/Responsables/pascalgauthier.png" />
            <br /><b>Pascal Gauthier</b><br /> Responsable des arbitres<br />
            <a class="source" target="_blank" href="mailto:pascal-gauthier@cgocable.ca">pascal-gauthier@cgocable.ca</a>
        </td>
        <td class="centered">
            <img src="~/Images/Responsables/none.png" />
            <br /><b>Mike Pomerleau</b><br /><br />
            <a class="source" target="_blank" href="mailto:caropom@live.ca">caropom@live.ca</a>
        </td></td>
    </tr>
</table> 


