@{
    ViewBag.Title = "Responsables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Responsables</h2>
<img src="~/Images/Responsables/none.png" />Marc Larochelle, Président, marc.larochelle@canamgroup.ws<br />
<img src="~/Images/Responsables/none.png" />Gilbert Tougas, Vice-président, gilbert.tougas@hotmail.com<br />
<img src="~/Images/Responsables/Christophe.png" />Christophe Lachance-Tardif,(418)227-8520 Coordonnateur,christo8527@yahoo.com <br />
<img src="~/Images/Responsables/erictalbot.png" />Eric Talbot, Responsable Peewee, talbot.eric@gmail.com<br />
<img src="~/Images/Responsables/none.png" />Jimmy Veilleux, Trésorier,jimmy@jimmyveilleux.com<br />
<img src="~/Images/Responsables/none.png" />Patrick Veilleux, Responsable Moustique, patveilleux77@hotmail.com<br />
 <img src="~/Images/Responsables/none.png" />Ghislain Quirion, Responsable Moustique, quirion_ghislain27@hotmail.com<br />
<img src="~/Images/Responsables/none.png" />Bruno Gilbert, Responsable Bantam Midget, bruno.gilbert@groupecanam.com<br />
<img src="~/Images/Responsables/PascalGauthier.jpg" /> Pascal Gauthier, Responsable des arbitres, pascal-gauthier@cgocable.ca<br />
<br />