@{
    ViewBag.Title = "Responsables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Responsables</h2>

<img src="~/Images/Responsables/none.png" />Gilbert Tougas, Co-président, 418-228-5881, gilbert.tougas@hotmail.com<br />
<img src="~/Images/Responsables/none.png" />Christophe Lachance-Tardif, Coordonnateur,abmsg.stats@hotmail.com <br />
<img src="~/Images/Responsables/none.png" />Marc Larochelle, Responsable Peewee, marc.larochelle@canamgroup.ws<br />
<img src="~/Images/Responsables/erictalbot.jpg" /> Eric Talbot, Responsable Peewee, talbot.eric@gmail.com<br />
<img src="~/Images/Responsables/none.png" />Patrick Veilleux, Responsable Atome, patveilleux77@hotmail.com<br />
 <img src="~/Images/Responsables/none.png" />Ghislain Quirion, Responsable Atome, quirion_ghislain27@hotmail.com<br />
<img src="~/Images/Responsables/none.png" />Bruno Gilbert, Responsable Bantam Midget, bruno.gilbert@groupecanam.com<br />
<img src="~/Images/Responsables/PascalGauthier.jpg" /> Pascal Gauthier, Responsable des arbitres, gauthier-pascal@outlook.com <br />
<br />