@{
    ViewBag.Title = "Responsables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Responsables</h2>

Gilbert Tougas, Président, 418-555-5555, email@email.com<br />
François Métivier, Président, 418-555-5555, email@email.com <br />
Koralie Potvin, Responsable des marqueurs<br />
Marc Larochelle, Responsable niveau Peewee<br />
Patrick Veilleux, Ghislain Quirion, Responsable Atome<br />
Bruno Gilbert, Responsable Bantam Midget<br />
<br />