@{
    ViewBag.Title = "Responsables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Responsables</h2>

<img src="~/Images/Responsables/none.png" />Gilbert Tougas, Président, 418-228-5881, gilbert.tougas@hotmail.com<br />
<img src="~/Images/Responsables/none.png" />François Métivier, Président, 418-227-4597, metivier.francois@cgocable.ca <br />
<img src="~/Images/Responsables/none.png" />Koralie Potvin, Responsable des marqueurs, koralie.potvin@gmail.com<br />
<img src="~/Images/Responsables/none.png" />Marc Larochelle, Responsable Peewee, marc.larochelle@canamgroup.ws<br />
<img src="~/Images/Responsables/erictalbot.jpg" />Eric Talbot, Responsables Peewee, talbot.eric@gmail.com<br />
<img src="~/Images/Responsables/none.png" />Patrick Veilleux, patveilleux77@hotmail.com<br />
 <img src="~/Images/Responsables/none.png" />Ghislain Quirion, Responsables Atome, quirion_ghislain27@hotmail.com<br />
<img src="~/Images/Responsables/none.png" />Bruno Gilbert, Responsable Bantam Midget, bruno.gilbert@groupecanam.com<br />
<br />