#list2 { width: auto; }
#list2 ul { font-style:italic; font-family:'Segoe UI Symbol'; font-size:24px; color:black;  }
#list2 ul li { }
#list2 ul li p { padding:8px; font-style:normal; font-family:'Segoe UI Symbol'; font-size:13px; color:black; border-left: 1px solid #999; }
#list2 ul li p em { font-size:larger; font-weight:bold; font-family:'Segoe UI Symbol'; display:block; }

a.ItemDelete
{
    font-size: 12px;
    text-decoration: none;
    padding: 0 0 0 14px; 
    background-repeat: no-repeat;
    background-image: url(../images/del.gif);
    margin-left: 1em;
}

a.ItemEdit
{
    font-size: 12px;
    text-decoration: none;
    padding: 0 0 0 14px; 
    background-repeat: no-repeat;
    background-image: url(../images/edit.gif);
    margin-left: 1em;
}

.blocks {
    margin: 0;
    padding: 0;
}
.blocks li {
    background-color: #EEEEEE;
    border-bottom: 3px solid #CCCCCC;
    display: inline-block;
    line-height: 70px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 175px;
}

.blocks li span {
    display: inline-block;
    line-height: 1.4;
    padding: 0 10px;
    vertical-align: middle;
}

.blocks li:hover{
    background-color: #8BCF01;
    border-bottom-color: #62B000;
    color: #265F01;
}

li a.source {
    background-color: #CCCCCC;
    bottom: -19px;
    color: #2B4001 !important;
    font-size: 85%;
    left: 0;
    line-height: 19px;
    position: absolute;
    width: 100%;
    z-index: 10;
    transition: all 0.2s ease;
}
li:hover a.source {
    background-color: #62B000;
    bottom: 0;
}





